.categorize {
  &-error {
    color: red;
  }
  &-result {
    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-top: 10px;
  }
  &-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > div:nth-child(1) {
      margin: 20px 0 0;
    }
  }
}
