.display-results {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;

    h3 {
      padding-bottom: 10px;
    }
  }

  &-score {
    padding-bottom: 5px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  &-text {
    max-height: 200px;
    overflow: auto;
  }
}
