.test-table {
  font-size: 0.85rem;
  margin: 10px 0;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  thead,
  tbody {
    tr {
      border: 1px solid black;
      th,
      td {
        border-left: 1px solid black;
        padding: 3px 6px;
      }
    }
  }
}
.table-wrapper {
  padding-bottom: 15px;
}
